:root {
  /* COLORES DE PLANTILLA */
  /* --primary-color: #764DF0;
  --primary-color-rgb: 118, 77, 240;
  --secondary-color: #442490;
  --secondary-color-rgb: 68, 36, 144; */

  /* COLORES ARACODE */
  --primary-color: #0188ee;
  --primary-color-rgb: 1, 136, 238;
  --secondary-color: #026cad;
  --secondary-color-rgb: 2, 108, 173;
}